$bg-color: #eeeeee;
$title-background: #333333;
$main-color: #ffffff;

.container {
    background-color: $bg-color;
    padding: 20px;

    #title {
        background-color: $title-background;
        color: $main-color;
        text-align: center;
        padding: 10px;
    }
}

.container-bottom {
    background-color: blue;
    padding: 50px;
    text-align: center;

    // p {
    //     color: $main-color;
    //     font-size: 40px;
    // }    
}

p {
    color: $main-color;
    font-size: 40px;
}